<h1> Movements </h1>

<% @movements.each do |movement| %>
  <div id=<%="movement-#{movement.id}" %>>
    <h3><%= movement.name %></h3>
    Description: <%= movement.description %><br>
    [image] <%= movement.image %><br>
    [video] <%= movement.video %><br>
    <br>
  </div>
  <% end %>
