<h1> Create a New Movement </h1>

<%= form_with model: @new_movement, local: true do |form| %>
  <%= form.label :movement, 'Movement:' %>
  <%= form.select :movement, ["Pullups", 
                              "Olympic Squat", 
                              "Dumbbell Bench Press", 
                              "Clean and jerk", 
                              "Barbell Deadlift"] %><br>
                                
  <%= form.label :date, 'Date:' %>
  <%= form.date_field :date %><br>

  <%= form.label :reps, 'Reps:' %>
  <%= form.number_field :reps %><br>

  <%= form.label :weight, 'Weight:' %>
  <%= form.number_field :weight %><br>

  <%= form.submit "Add Movement" %>
<% end %>