<h1> Athletes </h1>

<% @athletes.each do |athlete| %>
<div id=<%="athlete-#{athlete.id}" %>>
<h3><%= link_to athlete.name, athlete_path(athlete) %></h3>
  Gender: <%= athlete.gender %><br>
  Height: <%= athlete.feet %>'<%= athlete.inches %>"<br>
  Weight: <%= athlete.weight %>lbs<br>
  Birthday: <%= athlete.birthday.strftime("%-m/%-d/%Y") %><br>
  <%= link_to "Edit Athlete", edit_athlete_path(athlete) %><br>

</div>
<% end %>