<h1> Athletes </h1>

<% if @athletes.empty? %>
  No athletes found<br>
  <%=link_to "Create Athlete", new_athlete_path, method: :post%>
<% else %>
  <% @athletes.each do |athlete| %>
    <div id=<%="athlete-#{athlete.id}" %>>
      <h3><%= link_to athlete.name, athlete_path(athlete) %></h3>
      Gender: <%= athlete.gender %><br>
      Height: <%= athlete.feet %>'<%= athlete.inches %>"<br>
      Weight: <%= athlete.weight %>lbs<br>
      Birthday: <%= athlete.birthday.strftime("%-m/%-d/%Y") %><br>
      <%= link_to "Edit Athlete", edit_athlete_path(athlete) %><br>
      <%= link_to "Create New Movement", new_movement_path %><br>
      <%= button_to "Delete #{athlete.name}", athlete_path(athlete), method: :delete , data: { confirm: "Are you sure you want to delete this athlete?" } %>


    </div>
  <% end %>
<% end %>