<h1> <%= @athlete.name %> </h1>
Gender: <%= @athlete.gender %><br>
Height: <%= @athlete.feet %>'<%= @athlete.inches %>"<br>
Weight: <%= @athlete.weight %>lbs<br>
Birthday: <%= @athlete.birthday.strftime("%-m/%-d/%Y")%>
<br>
<%= link_to "Edit", edit_athlete_path(@athlete) %>
<h3> Movements </h3>

<h3> Goals </h3>

<%= link_to "Progress", athlete_path(@athlete) %>
